<div class="selector-form">

    <div>
        <label>Season:</label>
        <select [(ngModel)]="selectedSeason" (change)="f1Service.selectSeason(selectedSeason)">
            @for (season of f1Service.seasons$ | async; track season) {
                <option value="{{season.season}}">{{ season.season }}</option>
            }
        </select>
    </div>

    <div>

        <label>Race:</label>
        @if(selectedSeason){

            <select [(ngModel)]="selectedRace" (change)="f1Service.selectRace(selectedSeason,selectedRace)">
                @for (race of f1Service.races$ | async; track race.round) {
                    <option value="{{race.round}}">{{ race.raceName }}</option>
                }
            </select>
        }
    </div>

</div>
