<div class="selector-form">

    <div>
        <label>Season: </label>
        <select [(ngModel)]="selectedSeason" (change)="selectSeason(selectedSeason)">
            @for (season of seasons$|async; track season) {
                <option value="{{season.season}}">{{ season.season }}</option>
            }
        </select>
    </div>

    <div>
        <label>Race:</label>
        @if (selectedSeason) {
            <select [(ngModel)]="selectedRace" (change)="selectRace(selectedRace)">
                @for (race of (races$|async); track race) {
                    <option value="{{race.round}}">{{ race.raceName }}</option>
                }
            </select>
        }
    </div>

</div>
