<div>
    @if (results$|async) {
        @if (image$|async; as image) {
            <img src='{{image}}' alt="">
        } @else {
            <h4>Loading image</h4>
        }
        @if (desc$ | async; as desc) {
            @if (isExpanded) {
                <p>{{ desc}}</p>
            } @else {
                <p>{{ truncateText(desc, 1000) }}</p>
            }
            <button (click)="isExpanded = !isExpanded">{{ isExpanded ? 'View Less' : 'Read More' }}</button>
        } @else {
            <h4>Loading description</h4>
        }
    }
</div>


