<div class="body">
    @if (f1Service.race) {


        <div class="poll shadow" *ngIf="(f1Service.results$| async) as list">
            @if (list.length > 0) {

                <div>
                    <label>{{ list[1].Driver.familyName }}</label>
                    <div class="second"></div>
                </div>
                <div>
                    <label>{{ list[0].Driver.familyName }}</label>
                    <div class="first"></div>
                </div>
                <div>
                    <label>{{ list[2].Driver.familyName }}</label>
                    <div class="third"></div>
                </div>
            }
        </div>

        <div class="shadow">
            <h5>Results: {{ f1Service.season }} {{ f1Service.race }}</h5>
        </div>
        <div class="result-form shadow">

            <label><b>Position</b></label>
            <label><b>Nation</b></label>
            <label><b>First name</b></label>
            <label><b>Last name</b></label>
            <label><b>Finish Time</b></label>
            <label><b>Points earned</b></label>


            @for (result of f1Service.results$ | async; track result) {
                <label>{{ result.position }}</label>
                <img src="https://flagsapi.com/{{countryService.getCountryCode(result.Driver.nationality)}}/flat/16.png"
                     alt="flag">
                <label>{{ result.Driver.givenName }}</label>
                <label>{{ result.Driver.familyName }}</label>
                <label>{{ result.Time?result.Time.time:'DNF' }}</label>
                <label>{{ result.points }}</label>
            }
        </div>

    }
</div>