body {

  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  gap: 1em;

  * {
    background-color: #e0e0e0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);

    border-radius: 1rem;
    padding: 1em;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.shadow {
  padding: 4px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  width: 100%;
}